# Default ignored files
/../../../../Prog avancée/Classes internes/Java_classes_internes/.idea/shelf/
/../../../../Prog avancée/Classes internes/Java_classes_internes/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../Prog avancée/Classes internes/Java_classes_internes/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../Prog avancée/Classes internes/Java_classes_internes/.idea/dataSources/
/../../../../Prog avancée/Classes internes/Java_classes_internes/.idea/dataSources.local.xml
